<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <!-- Permissões de Depuração e Task -->
    <key>get-task-allow</key>
    <true/>
    <key>task_for_pid-allow</key>
    <true/>
    <key>com.apple.system-task-ports</key>
    <true/>

    <!-- Escape Total de Sandbox -->
    <key>com.apple.private.security.no-sandbox</key>
    <true/>
    <key>com.apple.private.security.no-container</key>
    <true/>
    
    <!-- PODER DE HARDWARE (Essencial para A13/PPL Bypass) -->
    <key>com.apple.private.iogpu.allow-all-devices</key>
    <true/>
    <key>com.apple.private.apple-balance.user-access</key>
    <true/>
    <key>com.apple.private.security.storage.AppBundles</key>
    <true/>
    
    <!-- Permissão para rodar binários do sistema (SSHD) -->
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.kernel.system-override</key>
    <true/>
</dict>
</plist>
